
.content{
    background-color: aqua;
    height: 100px;
    width: 300px;
    margin-top: 20px;
    border: 1px solid;
    position: static;
    /* position: relative; */
    /* position: fixed; */
    /* position: sticky; */
    /* top: 100px; */
    /* left: 200px; */
    /* top: 300px; */
    right: 100px;
}