/* h1{ */
    /* background-color: blue; */
    /* display:inline; */
/* } */
div{
    height: 100px;
    margin-top: 20px;
    border: 1px solid
}
.content{
    background-color: blue;
}
.content1{
    background-color: brown;
    visibility: visible;
}
.content2{
    background-color: aquamarine;
}